<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=us-ascii">
	</head>
	<body>
{% load staticfiles %}
		<div id="header">
			<span class="logo">City Data</span>
			<ul class="menu">
				<li><a href="admin/" target="_blank">Admin</a> </li>
				<li><a href="map/" target="_blank">My Map</a> </li>
				<li><a href="blog/" target="_blank">Blog</a> </li>
				<li><a href="bird_api/" target="_blank">Bird json data</a> </li>
				<li><a href="church/" target="_blank">Church json data</a> </li>
			</ul>
				<span class="user">
				<!--Hello {{ request.user.first_name }}, -->
				<a href="admin/logout" >Logout</a> 
			</span>
		</div>
		{% if messages %}
			<ul class="messages">
			{% for message in messages %}
				<li class="{{ message.tags }}">{{ message|safe }} <a href="#" class="close">x</a> {% endfor %}</li>
			</ul>
		{% endif %}
		<div id="content">{% block content %} {% endblock %} </div>
	</body>
</html>
