<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_ebfef42f127f4ab999f67abaa1e256b0 {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_ebfef42f127f4ab999f67abaa1e256b0" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_ebfef42f127f4ab999f67abaa1e256b0 = L.map(
                                  'map_ebfef42f127f4ab999f67abaa1e256b0',
                                  {center: [42.34,-71.1],
                                  zoom: 12,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_8b1926e43b764906b9e507e167e8bae3 = L.tileLayer(
                'https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_ebfef42f127f4ab999f67abaa1e256b0);
        
    
            var feature_group_5fbfabab83e54738b688655f9d9a9d53 = L.featureGroup(
                ).addTo(map_ebfef42f127f4ab999f67abaa1e256b0);
        
    
            var circle_marker_e3d945b184b74d67a2d2f4ac6c1ce744 = L.circleMarker(
                [42.379153,-71.069489],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 3,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_5fbfabab83e54738b688655f9d9a9d53);
            
    
            var popup_665c83af667a4a778ad0db979180c29e = L.popup({maxWidth: '300'});

            
                var html_199b89b6a8284e4aa7024849d824bcf0 = $('<div id="html_199b89b6a8284e4aa7024849d824bcf0" style="width: 100.0%; height: 100.0%;">Northern Cardinal</div>')[0];
                popup_665c83af667a4a778ad0db979180c29e.setContent(html_199b89b6a8284e4aa7024849d824bcf0);
            

            circle_marker_e3d945b184b74d67a2d2f4ac6c1ce744.bindPopup(popup_665c83af667a4a778ad0db979180c29e);

            
        
    
            var circle_marker_283dff51ac2645dca86876a3a3cbfb65 = L.circleMarker(
                [42.31505,-71.079502],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 3,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_5fbfabab83e54738b688655f9d9a9d53);
            
    
            var popup_ae2d30a8fe84441c88cbbe6fb5b052b1 = L.popup({maxWidth: '300'});

            
                var html_f1a96c984cad4c19915b98beae03ac51 = $('<div id="html_f1a96c984cad4c19915b98beae03ac51" style="width: 100.0%; height: 100.0%;">Crow</div>')[0];
                popup_ae2d30a8fe84441c88cbbe6fb5b052b1.setContent(html_f1a96c984cad4c19915b98beae03ac51);
            

            circle_marker_283dff51ac2645dca86876a3a3cbfb65.bindPopup(popup_ae2d30a8fe84441c88cbbe6fb5b052b1);

            
        
    
            var circle_marker_17a0bb8c5f6a4f70871efd9e9bb658da = L.circleMarker(
                [42.2498,-71.3245],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 3,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_5fbfabab83e54738b688655f9d9a9d53);
            
    
            var popup_fa2910a6b0594a84b8dd48c1c246c820 = L.popup({maxWidth: '300'});

            
                var html_4255367e8dec438bacc296b3f95279ef = $('<div id="html_4255367e8dec438bacc296b3f95279ef" style="width: 100.0%; height: 100.0%;">House sparrow</div>')[0];
                popup_fa2910a6b0594a84b8dd48c1c246c820.setContent(html_4255367e8dec438bacc296b3f95279ef);
            

            circle_marker_17a0bb8c5f6a4f70871efd9e9bb658da.bindPopup(popup_fa2910a6b0594a84b8dd48c1c246c820);

            
        
    
            var circle_marker_8c75e4c6853844f6b5aa07d49ecf60a8 = L.circleMarker(
                [42.349268,-71.1792],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 3,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_5fbfabab83e54738b688655f9d9a9d53);
            
    
            var popup_10fe5711e2e9457da19d1faf04f48360 = L.popup({maxWidth: '300'});

            
                var html_93596c75c569475ab056938cb1172300 = $('<div id="html_93596c75c569475ab056938cb1172300" style="width: 100.0%; height: 100.0%;">Starling</div>')[0];
                popup_10fe5711e2e9457da19d1faf04f48360.setContent(html_93596c75c569475ab056938cb1172300);
            

            circle_marker_8c75e4c6853844f6b5aa07d49ecf60a8.bindPopup(popup_10fe5711e2e9457da19d1faf04f48360);

            
        
    
            var circle_marker_a794ef17701541afa50cc68f9dd6fdc7 = L.circleMarker(
                [42.349456,-71.078954],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 3,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_5fbfabab83e54738b688655f9d9a9d53);
            
    
            var popup_4a0df013dc4d4a8d8243b6837f661459 = L.popup({maxWidth: '300'});

            
                var html_c75c0adad4a44253b3e477efa2f0f92d = $('<div id="html_c75c0adad4a44253b3e477efa2f0f92d" style="width: 100.0%; height: 100.0%;">Rock dove</div>')[0];
                popup_4a0df013dc4d4a8d8243b6837f661459.setContent(html_c75c0adad4a44253b3e477efa2f0f92d);
            

            circle_marker_a794ef17701541afa50cc68f9dd6fdc7.bindPopup(popup_4a0df013dc4d4a8d8243b6837f661459);

            
        
    
            var layer_control_d0b9fe9fe462402c9adfd79f8b694140 = {
                base_layers : { "cartodbdark_matter" : tile_layer_8b1926e43b764906b9e507e167e8bae3, },
                overlays : { "Birds" : feature_group_5fbfabab83e54738b688655f9d9a9d53, }
                };
            L.control.layers(
                layer_control_d0b9fe9fe462402c9adfd79f8b694140.base_layers,
                layer_control_d0b9fe9fe462402c9adfd79f8b694140.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_ebfef42f127f4ab999f67abaa1e256b0);
        
</script>