<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script>L_PREFER_CANVAS = false; L_NO_TOUCH = false; L_DISABLE_3D = false;</script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.2.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawgit.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <style> #map_0974774560ff4f5d9209fd4a08666ddc {
                position : relative;
                width : 100.0%;
                height: 100.0%;
                left: 0.0%;
                top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_0974774560ff4f5d9209fd4a08666ddc" ></div>
        
</body>
<script>    
    

            
                var bounds = null;
            

            var map_0974774560ff4f5d9209fd4a08666ddc = L.map(
                                  'map_0974774560ff4f5d9209fd4a08666ddc',
                                  {center: [42.34,-71.1],
                                  zoom: 12,
                                  maxBounds: bounds,
                                  layers: [],
                                  worldCopyJump: false,
                                  crs: L.CRS.EPSG3857
                                 });
            
        
    
            var tile_layer_a2389182b89b48eeb1ee9bb0fbd00837 = L.tileLayer(
                'https://cartodb-basemaps-{s}.global.ssl.fastly.net/dark_all/{z}/{x}/{y}.png',
                {
  "attribution": null,
  "detectRetina": false,
  "maxZoom": 18,
  "minZoom": 1,
  "noWrap": false,
  "subdomains": "abc"
}
                ).addTo(map_0974774560ff4f5d9209fd4a08666ddc);
        
    
            var feature_group_f330450eb62140c6b4ab4ff26fd6590d = L.featureGroup(
                ).addTo(map_0974774560ff4f5d9209fd4a08666ddc);
        
    
            var circle_marker_84ca6943a9b44cf2a1fff2edc961fc81 = L.circleMarker(
                [42.379153,-71.069489],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_f330450eb62140c6b4ab4ff26fd6590d);
            
    
            var popup_53c8ea3c22b6499c90fb63766396b24c = L.popup({maxWidth: '300'});

            
                var i_frame_04604764c95f4a1e959349343e5d8def = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBOb3J0aGVybiBDYXJkaW5hbDxicj5DYXJkaW5hbGlzIGNhcmRpbmFsaXM=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_53c8ea3c22b6499c90fb63766396b24c.setContent(i_frame_04604764c95f4a1e959349343e5d8def);
            

            circle_marker_84ca6943a9b44cf2a1fff2edc961fc81.bindPopup(popup_53c8ea3c22b6499c90fb63766396b24c);

            
        
    
            var circle_marker_649cc7dd3e4c472eac12f5bf157e2875 = L.circleMarker(
                [42.31505,-71.079502],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_f330450eb62140c6b4ab4ff26fd6590d);
            
    
            var popup_70d413b53c6446dbb0af9bc873608d00 = L.popup({maxWidth: '300'});

            
                var i_frame_c8fa3f1a2d6648d99f8d21fc3cecd33c = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBDcm93PGJyPg==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_70d413b53c6446dbb0af9bc873608d00.setContent(i_frame_c8fa3f1a2d6648d99f8d21fc3cecd33c);
            

            circle_marker_649cc7dd3e4c472eac12f5bf157e2875.bindPopup(popup_70d413b53c6446dbb0af9bc873608d00);

            
        
    
            var circle_marker_e70aa7986bd245469d3f9dd7499a297a = L.circleMarker(
                [42.2498,-71.3245],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_f330450eb62140c6b4ab4ff26fd6590d);
            
    
            var popup_2f9318efde5e468aaf6957853f2e3c4b = L.popup({maxWidth: '300'});

            
                var i_frame_d8499436ecce4573b9369c6e9d19f76a = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBIb3VzZSBzcGFycm93PGJyPg==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_2f9318efde5e468aaf6957853f2e3c4b.setContent(i_frame_d8499436ecce4573b9369c6e9d19f76a);
            

            circle_marker_e70aa7986bd245469d3f9dd7499a297a.bindPopup(popup_2f9318efde5e468aaf6957853f2e3c4b);

            
        
    
            var circle_marker_a19470bd44fe45e3b66247dfe208b26d = L.circleMarker(
                [42.349268,-71.1792],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_f330450eb62140c6b4ab4ff26fd6590d);
            
    
            var popup_3502baeba591494c84bc9a8fe7c383e1 = L.popup({maxWidth: '300'});

            
                var i_frame_fe5d1c2263a5466fb3bfdf5890032ffd = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBTdGFybGluZzxicj4=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_3502baeba591494c84bc9a8fe7c383e1.setContent(i_frame_fe5d1c2263a5466fb3bfdf5890032ffd);
            

            circle_marker_a19470bd44fe45e3b66247dfe208b26d.bindPopup(popup_3502baeba591494c84bc9a8fe7c383e1);

            
        
    
            var circle_marker_cb8cb787f4e94b9d9629c3bf61540893 = L.circleMarker(
                [42.349456,-71.078954],
                {
  "bubblingMouseEvents": true,
  "color": "green",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "green",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_f330450eb62140c6b4ab4ff26fd6590d);
            
    
            var popup_51ce6769f9e447fc863684b608beda76 = L.popup({maxWidth: '300'});

            
                var i_frame_d5f12423525e464fa9df9ea8e19d70a5 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBSb2NrIGRvdmU8YnI+" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_51ce6769f9e447fc863684b608beda76.setContent(i_frame_d5f12423525e464fa9df9ea8e19d70a5);
            

            circle_marker_cb8cb787f4e94b9d9629c3bf61540893.bindPopup(popup_51ce6769f9e447fc863684b608beda76);

            
        
    
            var feature_group_93e6bd555b1a42b6be035373c7654cd6 = L.featureGroup(
                ).addTo(map_0974774560ff4f5d9209fd4a08666ddc);
        
    
            var circle_marker_f15f2790ed37428185a3843746421199 = L.circleMarker(
                [42.32082221,-71.09731506],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_bcea9a3696154736afe726a5f9cfbe1c = L.popup({maxWidth: '300'});

            
                var i_frame_47a78028bb504cf3bbfff694a9cc57a8 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBBZ2dyYXZhdGVkIEFzc2F1bHQ8YnI+MjAxOC0xMi0yM1QxOToyODowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_bcea9a3696154736afe726a5f9cfbe1c.setContent(i_frame_47a78028bb504cf3bbfff694a9cc57a8);
            

            circle_marker_f15f2790ed37428185a3843746421199.bindPopup(popup_bcea9a3696154736afe726a5f9cfbe1c);

            
        
    
            var circle_marker_eb243fbb51354956960c84a4591e4f62 = L.circleMarker(
                [42.32082221,-71.09731506],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_29d31f6b7fd141c7a79a99a1a2f81ad9 = L.popup({maxWidth: '300'});

            
                var i_frame_f4f368b385fd4cbb9ba6a36eeb04dca8 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBWYW5kYWxpc208YnI+MjAxOC0xMi0yM1QxOToyODowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_29d31f6b7fd141c7a79a99a1a2f81ad9.setContent(i_frame_f4f368b385fd4cbb9ba6a36eeb04dca8);
            

            circle_marker_eb243fbb51354956960c84a4591e4f62.bindPopup(popup_29d31f6b7fd141c7a79a99a1a2f81ad9);

            
        
    
            var circle_marker_befb318794254ec1b19f78412d55c11d = L.circleMarker(
                [42.32335251,-71.05241954],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_f5525f7dc8ac49c2bfc20b5e3682980e = L.popup({maxWidth: '300'});

            
                var i_frame_c8a38acd2fad42dca5db9388a0027e1c = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBBZ2dyYXZhdGVkIEFzc2F1bHQ8YnI+MjAxOC0xMi0yMVQyMDoxNDowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_f5525f7dc8ac49c2bfc20b5e3682980e.setContent(i_frame_c8a38acd2fad42dca5db9388a0027e1c);
            

            circle_marker_befb318794254ec1b19f78412d55c11d.bindPopup(popup_f5525f7dc8ac49c2bfc20b5e3682980e);

            
        
    
            var circle_marker_623f28abb926421bad6cb46b8431e45a = L.circleMarker(
                [42.31803027,-71.07787472],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_5642700985364cec8bf64a4d717b9615 = L.popup({maxWidth: '300'});

            
                var i_frame_bd4d5f9546284bd69295b5be3a027acd = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBNZWRpY2FsIEFzc2lzdGFuY2U8YnI+MjAxOC0xMi0yMVQwMDozNDowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_5642700985364cec8bf64a4d717b9615.setContent(i_frame_bd4d5f9546284bd69295b5be3a027acd);
            

            circle_marker_623f28abb926421bad6cb46b8431e45a.bindPopup(popup_5642700985364cec8bf64a4d717b9615);

            
        
    
            var circle_marker_60f79d4593334c9ebb9228c2a65307fc = L.circleMarker(
                [42.30027166,-71.06838949],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_13e7eb749fec416fba82630d0f6c866f = L.popup({maxWidth: '300'});

            
                var i_frame_698be506bafd4798a24401d34e98cb57 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBBZ2dyYXZhdGVkIEFzc2F1bHQ8YnI+MjAxOC0xMi0xNFQxNDo0MDowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_13e7eb749fec416fba82630d0f6c866f.setContent(i_frame_698be506bafd4798a24401d34e98cb57);
            

            circle_marker_60f79d4593334c9ebb9228c2a65307fc.bindPopup(popup_13e7eb749fec416fba82630d0f6c866f);

            
        
    
            var circle_marker_135aba6e8cdc4790a622fecac962832e = L.circleMarker(
                [42.27373936,-71.10108024],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_9abff9dd823e49babc35d582df191d66 = L.popup({maxWidth: '300'});

            
                var i_frame_c275676e61e240fd9af6624e65d5f837 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBIb21pY2lkZTxicj4yMDE4LTEyLTEwVDIxOjU4OjAw" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_9abff9dd823e49babc35d582df191d66.setContent(i_frame_c275676e61e240fd9af6624e65d5f837);
            

            circle_marker_135aba6e8cdc4790a622fecac962832e.bindPopup(popup_9abff9dd823e49babc35d582df191d66);

            
        
    
            var circle_marker_a3ea5dd4368f4d63939d4f641b718442 = L.circleMarker(
                [42.27373936,-71.10108024],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_3e8c49e6fca84af4b138be1a2a9ce206 = L.popup({maxWidth: '300'});

            
                var i_frame_10ac24115c954109abde3a6536577138 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBTZWFyY2ggV2FycmFudHM8YnI+MjAxOC0xMi0xMFQyMTo1ODowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_3e8c49e6fca84af4b138be1a2a9ce206.setContent(i_frame_10ac24115c954109abde3a6536577138);
            

            circle_marker_a3ea5dd4368f4d63939d4f641b718442.bindPopup(popup_3e8c49e6fca84af4b138be1a2a9ce206);

            
        
    
            var circle_marker_f8c4e56b7ff447b491f3c9471ce3c493 = L.circleMarker(
                [42.32638832,-71.10181751],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_7d461ef5b03a4f768d952b385fe3df5b = L.popup({maxWidth: '300'});

            
                var i_frame_f724d76170fe425d9b0cdbfea590488c = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBBZ2dyYXZhdGVkIEFzc2F1bHQ8YnI+MjAxOC0xMi0wMVQyMjowMDowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_7d461ef5b03a4f768d952b385fe3df5b.setContent(i_frame_f724d76170fe425d9b0cdbfea590488c);
            

            circle_marker_f8c4e56b7ff447b491f3c9471ce3c493.bindPopup(popup_7d461ef5b03a4f768d952b385fe3df5b);

            
        
    
            var circle_marker_f2f45f41872d41669cdd267fe5df8fd9 = L.circleMarker(
                [42.30132851,-71.07870873],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_233f866ef14f4c719a1ec3dac6f741a8 = L.popup({maxWidth: '300'});

            
                var i_frame_c5498b40e365485593ab2f321399f341 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBIb21pY2lkZTxicj4yMDE4LTExLTMwVDE5OjA2OjAw" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_233f866ef14f4c719a1ec3dac6f741a8.setContent(i_frame_c5498b40e365485593ab2f321399f341);
            

            circle_marker_f2f45f41872d41669cdd267fe5df8fd9.bindPopup(popup_233f866ef14f4c719a1ec3dac6f741a8);

            
        
    
            var circle_marker_b05498f755f441b88581046db43bef4d = L.circleMarker(
                [42.32547404,-71.08749972],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_8ddd85eea7f54dfe81fe72ec7f98601a = L.popup({maxWidth: '300'});

            
                var i_frame_9504d9aefa3d44119150a8edb7d406c1 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBBZ2dyYXZhdGVkIEFzc2F1bHQ8YnI+MjAxOC0xMS0yN1QxNDowNjowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_8ddd85eea7f54dfe81fe72ec7f98601a.setContent(i_frame_9504d9aefa3d44119150a8edb7d406c1);
            

            circle_marker_b05498f755f441b88581046db43bef4d.bindPopup(popup_8ddd85eea7f54dfe81fe72ec7f98601a);

            
        
    
            var circle_marker_2430e4df483f453ebe6e70ecfb585fdd = L.circleMarker(
                [42.31609763,-71.09524853],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_dec6dd0a685246c48367fe59bcf4867d = L.popup({maxWidth: '300'});

            
                var i_frame_77eccaa5adcd416c906393d197dc1074 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBBZ2dyYXZhdGVkIEFzc2F1bHQ8YnI+MjAxOC0xMS0yNFQwMTozNTowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_dec6dd0a685246c48367fe59bcf4867d.setContent(i_frame_77eccaa5adcd416c906393d197dc1074);
            

            circle_marker_2430e4df483f453ebe6e70ecfb585fdd.bindPopup(popup_dec6dd0a685246c48367fe59bcf4867d);

            
        
    
            var circle_marker_8f95c477418e48c686305f685309afdc = L.circleMarker(
                [42.3204964,-71.10281106],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_859c97477f75423b988aef286970d984 = L.popup({maxWidth: '300'});

            
                var i_frame_853ae84d0a684dbca8787aef770252f6 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBIb21pY2lkZTxicj4yMDE4LTExLTIyVDAwOjU5OjAw" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_859c97477f75423b988aef286970d984.setContent(i_frame_853ae84d0a684dbca8787aef770252f6);
            

            circle_marker_8f95c477418e48c686305f685309afdc.bindPopup(popup_859c97477f75423b988aef286970d984);

            
        
    
            var circle_marker_89de6c86c3af47c7a8b64f55d1f55bd8 = L.circleMarker(
                [42.32872589,-71.08382217],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_07875404eb4f40ebb2d61211c0b3b819 = L.popup({maxWidth: '300'});

            
                var i_frame_6643020aca574885b57732d334be80ea = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBBZ2dyYXZhdGVkIEFzc2F1bHQ8YnI+MjAxOC0xMS0xOVQyMTozMzowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_07875404eb4f40ebb2d61211c0b3b819.setContent(i_frame_6643020aca574885b57732d334be80ea);
            

            circle_marker_89de6c86c3af47c7a8b64f55d1f55bd8.bindPopup(popup_07875404eb4f40ebb2d61211c0b3b819);

            
        
    
            var circle_marker_b24dfccb2869498985534db4680ff8f4 = L.circleMarker(
                [42.32872589,-71.08382217],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_f367de22049644c887f0719470acbc3b = L.popup({maxWidth: '300'});

            
                var i_frame_e5d487d0ac514adfab0e8330a4d35f6b = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGaXJlYXJtIFZpb2xhdGlvbnM8YnI+MjAxOC0xMS0xOVQyMTozMzowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_f367de22049644c887f0719470acbc3b.setContent(i_frame_e5d487d0ac514adfab0e8330a4d35f6b);
            

            circle_marker_b24dfccb2869498985534db4680ff8f4.bindPopup(popup_f367de22049644c887f0719470acbc3b);

            
        
    
            var circle_marker_5a3b5a17fa72429bb4fb220f7549f2d9 = L.circleMarker(
                [42.32872589,-71.08382217],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_168114a3dcf54d9ea63d93a460c2111e = L.popup({maxWidth: '300'});

            
                var i_frame_1958770456f64a7382305b60a4b115d0 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBTZWFyY2ggV2FycmFudHM8YnI+MjAxOC0xMS0xOVQyMTozMzowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_168114a3dcf54d9ea63d93a460c2111e.setContent(i_frame_1958770456f64a7382305b60a4b115d0);
            

            circle_marker_5a3b5a17fa72429bb4fb220f7549f2d9.bindPopup(popup_168114a3dcf54d9ea63d93a460c2111e);

            
        
    
            var circle_marker_57968349c21844838e79d2f37cc2c4e9 = L.circleMarker(
                [42.32483301,-71.10164757],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_1fe9ee437afc4bb4af1f10d2f7c4874b = L.popup({maxWidth: '300'});

            
                var i_frame_f84deb1ee967446497afaf4121558567 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBIb21pY2lkZTxicj4yMDE4LTExLTE5VDE3OjQ1OjAw" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_1fe9ee437afc4bb4af1f10d2f7c4874b.setContent(i_frame_f84deb1ee967446497afaf4121558567);
            

            circle_marker_57968349c21844838e79d2f37cc2c4e9.bindPopup(popup_1fe9ee437afc4bb4af1f10d2f7c4874b);

            
        
    
            var circle_marker_ac75091543f74148ac1cfd322184063d = L.circleMarker(
                [42.28469164,-71.09621548],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_57d03d71c5864491aa9ac764cc3b9c47 = L.popup({maxWidth: '300'});

            
                var i_frame_e0934a060815405b9c54c039a7c2e050 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBIb21pY2lkZTxicj4yMDE4LTExLTE4VDAxOjU3OjAw" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_57d03d71c5864491aa9ac764cc3b9c47.setContent(i_frame_e0934a060815405b9c54c039a7c2e050);
            

            circle_marker_ac75091543f74148ac1cfd322184063d.bindPopup(popup_57d03d71c5864491aa9ac764cc3b9c47);

            
        
    
            var circle_marker_c043ad6b960941d597bff45db457deda = L.circleMarker(
                [42.28469164,-71.09621548],
                {
  "bubblingMouseEvents": true,
  "color": "red",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "red",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_93e6bd555b1a42b6be035373c7654cd6);
            
    
            var popup_1c33af83aa60475cb4f9d89eb4882242 = L.popup({maxWidth: '300'});

            
                var i_frame_736b9b0df1804950a90368c57794f012 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBTZWFyY2ggV2FycmFudHM8YnI+MjAxOC0xMS0xOFQwMTo1NzowMA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_1c33af83aa60475cb4f9d89eb4882242.setContent(i_frame_736b9b0df1804950a90368c57794f012);
            

            circle_marker_c043ad6b960941d597bff45db457deda.bindPopup(popup_1c33af83aa60475cb4f9d89eb4882242);

            
        
    
            var feature_group_652ea342920049b09f421e8cd67f090e = L.featureGroup(
                ).addTo(map_0974774560ff4f5d9209fd4a08666ddc);
        
    
            var circle_marker_c927240b341d48178c1854a8755a66bb = L.circleMarker(
                [-17.9123,-178.0031],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_8779a2ec501b48f7a29c9220f4e25ea8 = L.popup({maxWidth: '300'});

            
                var i_frame_e991d5731c7945bab5d5b767e993c968 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICBGaWppIHJlZ2lvbjxicj40LjM=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_8779a2ec501b48f7a29c9220f4e25ea8.setContent(i_frame_e991d5731c7945bab5d5b767e993c968);
            

            circle_marker_c927240b341d48178c1854a8755a66bb.bindPopup(popup_8779a2ec501b48f7a29c9220f4e25ea8);

            
        
    
            var circle_marker_684e20cdb92941c8a7e1e3338cef39ef = L.circleMarker(
                [-20.1492,-177.5512],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_31806f51b5ac45cf928a289dd8c9ede9 = L.popup({maxWidth: '300'});

            
                var i_frame_9721b31500b94068873457bbdf40954e = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxMzJrbSBFTkUgb2YgTmRvaSBJc2xhbmQsIEZpamk8YnI+NC42" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_31806f51b5ac45cf928a289dd8c9ede9.setContent(i_frame_9721b31500b94068873457bbdf40954e);
            

            circle_marker_684e20cdb92941c8a7e1e3338cef39ef.bindPopup(popup_31806f51b5ac45cf928a289dd8c9ede9);

            
        
    
            var circle_marker_9a11533ee7ad4b5cbf5cb4e5b9421402 = L.circleMarker(
                [-21.2679,171.5029],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_fc4613479d8349bbbff19f5871f0be7a = L.popup({maxWidth: '300'});

            
                var i_frame_430f47a73e1f44cdb96b42825e6a0d46 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxMzdrbSBOTlcgb2YgSWxlIEh1bnRlciwgTmV3IENhbGVkb25pYTxicj40Ljg=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_fc4613479d8349bbbff19f5871f0be7a.setContent(i_frame_430f47a73e1f44cdb96b42825e6a0d46);
            

            circle_marker_9a11533ee7ad4b5cbf5cb4e5b9421402.bindPopup(popup_fc4613479d8349bbbff19f5871f0be7a);

            
        
    
            var circle_marker_b9f8a32609ed4183951709fb7e985399 = L.circleMarker(
                [44.1998,148.5833],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_d75a448d6a654c3d8906a39615dafbe2 = L.popup({maxWidth: '300'});

            
                var i_frame_fd6226f933d34888bf5fd51ace0cc9b2 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxMjdrbSBTU0Ugb2YgS3VyaWwnc2ssIFJ1c3NpYTxicj41LjU=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_d75a448d6a654c3d8906a39615dafbe2.setContent(i_frame_fd6226f933d34888bf5fd51ace0cc9b2);
            

            circle_marker_b9f8a32609ed4183951709fb7e985399.bindPopup(popup_d75a448d6a654c3d8906a39615dafbe2);

            
        
    
            var circle_marker_08da8feee1cc4161ba9126544054b9a5 = L.circleMarker(
                [36.3841,-98.3864],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_c787c04417ea4f65b752d98640c9da76 = L.popup({maxWidth: '300'});

            
                var i_frame_562817c93c0a4a6f927790ee100dec56 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxNWttIE5ORSBvZiBGYWlydmlldywgT2tsYWhvbWE8YnI+Mw==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_c787c04417ea4f65b752d98640c9da76.setContent(i_frame_562817c93c0a4a6f927790ee100dec56);
            

            circle_marker_08da8feee1cc4161ba9126544054b9a5.bindPopup(popup_c787c04417ea4f65b752d98640c9da76);

            
        
    
            var circle_marker_90af0bdbfd1340e2aab65d1a370f33d0 = L.circleMarker(
                [15.2485,120.7066],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_36d74b00febe4818b2e242e4bdfd653f = L.popup({maxWidth: '300'});

            
                var i_frame_cf5180f09c6e4036b667383915b3b360 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAya20gTiBvZiBTYW50byBOaW5vLCBQaGlsaXBwaW5lczxicj40LjY=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_36d74b00febe4818b2e242e4bdfd653f.setContent(i_frame_cf5180f09c6e4036b667383915b3b360);
            

            circle_marker_90af0bdbfd1340e2aab65d1a370f33d0.bindPopup(popup_36d74b00febe4818b2e242e4bdfd653f);

            
        
    
            var circle_marker_df7f73ea1a2e43e389020e98760ad2de = L.circleMarker(
                [54.9025,164.7395],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_12fd21c7e0a947efbfdc02221d6a35dd = L.popup({maxWidth: '300'});

            
                var i_frame_1c925258069d44a8b65431eb2a33b7a3 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA4NmttIFdTVyBvZiBOaWtvbCdza295ZSwgUnVzc2lhPGJyPjQuNg==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_12fd21c7e0a947efbfdc02221d6a35dd.setContent(i_frame_1c925258069d44a8b65431eb2a33b7a3);
            

            circle_marker_df7f73ea1a2e43e389020e98760ad2de.bindPopup(popup_12fd21c7e0a947efbfdc02221d6a35dd);

            
        
    
            var circle_marker_9e74b5f6ab184c96a8028bfa5c919207 = L.circleMarker(
                [6.6674,-72.8787],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_550f22aa615040f0819ba6f8543c7a5f = L.popup({maxWidth: '300'});

            
                var i_frame_ef8822b9655f475cb9b6e814815adfa2 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA3a20gVyBvZiBNb2xhZ2F2aXRhLCBDb2xvbWJpYTxicj40LjU=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_550f22aa615040f0819ba6f8543c7a5f.setContent(i_frame_ef8822b9655f475cb9b6e814815adfa2);
            

            circle_marker_9e74b5f6ab184c96a8028bfa5c919207.bindPopup(popup_550f22aa615040f0819ba6f8543c7a5f);

            
        
    
            var circle_marker_8a91005415e3428bb6dc66318e2c3917 = L.circleMarker(
                [19.1125,-67.2988],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_6f55cc4603aa47d39937614ece2bfc73 = L.popup({maxWidth: '300'});

            
                var i_frame_ebb2eb1efa2a4bf8bad689caaca56699 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA3MWttIE5OVyBvZiBTYW4gQW50b25pbywgUHVlcnRvIFJpY288YnI+Mi45" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_6f55cc4603aa47d39937614ece2bfc73.setContent(i_frame_ebb2eb1efa2a4bf8bad689caaca56699);
            

            circle_marker_8a91005415e3428bb6dc66318e2c3917.bindPopup(popup_6f55cc4603aa47d39937614ece2bfc73);

            
        
    
            var circle_marker_d791af97b46644088b4f8f824e797974 = L.circleMarker(
                [19.1711,-67.2563],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_072ffaa71bde48dba6cd6059151ae8ed = L.popup({maxWidth: '300'});

            
                var i_frame_b0442032b175499a8e61e48964beb332 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA3NmttIE5OVyBvZiBTYW4gQW50b25pbywgUHVlcnRvIFJpY288YnI+My4xNQ==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_072ffaa71bde48dba6cd6059151ae8ed.setContent(i_frame_b0442032b175499a8e61e48964beb332);
            

            circle_marker_d791af97b46644088b4f8f824e797974.bindPopup(popup_072ffaa71bde48dba6cd6059151ae8ed);

            
        
    
            var circle_marker_8d27a748fe9b41348cc14b2d3d154813 = L.circleMarker(
                [24.5726,142.6014],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_219ce785f6f84c3a8926f9715957e128 = L.popup({maxWidth: '300'});

            
                var i_frame_57252ce2edeb4369a92b54823deb3604 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxMzBrbSBFIG9mIEl3byBKaW1hLCBKYXBhbjxicj40Ljc=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_219ce785f6f84c3a8926f9715957e128.setContent(i_frame_57252ce2edeb4369a92b54823deb3604);
            

            circle_marker_8d27a748fe9b41348cc14b2d3d154813.bindPopup(popup_219ce785f6f84c3a8926f9715957e128);

            
        
    
            var circle_marker_50fd9e298cc14c86b933feb91ad4a2a6 = L.circleMarker(
                [43.7987,87.3527],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_47351e4203eb404fb51c70153ac39a61 = L.popup({maxWidth: '300'});

            
                var i_frame_61c0141bfa1347e39d5754c2265f6fdf = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxNGttIFNXIG9mIERpd29wdSwgQ2hpbmE8YnI+NC41" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_47351e4203eb404fb51c70153ac39a61.setContent(i_frame_61c0141bfa1347e39d5754c2265f6fdf);
            

            circle_marker_50fd9e298cc14c86b933feb91ad4a2a6.bindPopup(popup_47351e4203eb404fb51c70153ac39a61);

            
        
    
            var circle_marker_c1f3de78ca6c4336bd0473e2e6119b94 = L.circleMarker(
                [19.1726,-67.2426],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_addc02b1bae44aafac6a6490234766e8 = L.popup({maxWidth: '300'});

            
                var i_frame_30552922da0f4c4099217e0f8dbc3674 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA3NmttIE5OVyBvZiBTYW4gQW50b25pbywgUHVlcnRvIFJpY288YnI+My4yNA==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_addc02b1bae44aafac6a6490234766e8.setContent(i_frame_30552922da0f4c4099217e0f8dbc3674);
            

            circle_marker_c1f3de78ca6c4336bd0473e2e6119b94.bindPopup(popup_addc02b1bae44aafac6a6490234766e8);

            
        
    
            var circle_marker_806ab4c1bbd74f31a63fac586f62301d = L.circleMarker(
                [-1.4997,134.0615],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_90673a6c516b4686b64b1a9bfeb76ce9 = L.popup({maxWidth: '300'});

            
                var i_frame_39cb8b0ab5f84d0083979cf0d2e7487e = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA3MGttIFMgb2YgTWFub2t3YXJpLCBJbmRvbmVzaWE8YnI+NS44" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_90673a6c516b4686b64b1a9bfeb76ce9.setContent(i_frame_39cb8b0ab5f84d0083979cf0d2e7487e);
            

            circle_marker_806ab4c1bbd74f31a63fac586f62301d.bindPopup(popup_90673a6c516b4686b64b1a9bfeb76ce9);

            
        
    
            var circle_marker_3936853bbaef4e2ea96c18f8bd8486ea = L.circleMarker(
                [18.6225,-68.9581],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_c55713d220834b6693a2c4a71f20cf45 = L.popup({maxWidth: '300'});

            
                var i_frame_4419b4abefcb42e3bba56182ed2e3f2d = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA0a20gTiBvZiBMYSBSb21hbmEsIERvbWluaWNhbiBSZXB1YmxpYzxicj4zLjUx" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_c55713d220834b6693a2c4a71f20cf45.setContent(i_frame_4419b4abefcb42e3bba56182ed2e3f2d);
            

            circle_marker_3936853bbaef4e2ea96c18f8bd8486ea.bindPopup(popup_c55713d220834b6693a2c4a71f20cf45);

            
        
    
            var circle_marker_bb90fe375a234c808ceb0c7d030a256e = L.circleMarker(
                [12.4189,-88.394],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_d7848d82c06641f39326dac5377b3a47 = L.popup({maxWidth: '300'});

            
                var i_frame_e3a0a14127fb485986c0f1a94ac949dd = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA5MmttIFNTVyBvZiBDaGlyaWxhZ3VhLCBFbCBTYWx2YWRvcjxicj40Ljg=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_d7848d82c06641f39326dac5377b3a47.setContent(i_frame_e3a0a14127fb485986c0f1a94ac949dd);
            

            circle_marker_bb90fe375a234c808ceb0c7d030a256e.bindPopup(popup_d7848d82c06641f39326dac5377b3a47);

            
        
    
            var circle_marker_16f55bcfc21f4b54b8f2e474f5a50b9b = L.circleMarker(
                [12.4126,-88.4073],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_809901e79a8f445ab1701e23e7d0e3b8 = L.popup({maxWidth: '300'});

            
                var i_frame_3ec642d67ac8453d94fadbdb15100b38 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA5M2ttIFNTVyBvZiBDaGlyaWxhZ3VhLCBFbCBTYWx2YWRvcjxicj40Ljg=" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_809901e79a8f445ab1701e23e7d0e3b8.setContent(i_frame_3ec642d67ac8453d94fadbdb15100b38);
            

            circle_marker_16f55bcfc21f4b54b8f2e474f5a50b9b.bindPopup(popup_809901e79a8f445ab1701e23e7d0e3b8);

            
        
    
            var circle_marker_21f8e417b21744cc825ddfc7cd0e0770 = L.circleMarker(
                [17.7103,-65.0665],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_15b02b90af9a4ec49f6fb82dde212d1e = L.popup({maxWidth: '300'});

            
                var i_frame_fca2ec68fa6042f8aa0d6b1d85ef38ec = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAzOGttIFcgb2YgQ2hyaXN0aWFuc3RlZCwgVS5TLiBWaXJnaW4gSXNsYW5kczxicj4yLjkx" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_15b02b90af9a4ec49f6fb82dde212d1e.setContent(i_frame_fca2ec68fa6042f8aa0d6b1d85ef38ec);
            

            circle_marker_21f8e417b21744cc825ddfc7cd0e0770.bindPopup(popup_15b02b90af9a4ec49f6fb82dde212d1e);

            
        
    
            var circle_marker_1593c1a0d7e043f8937a1c0c3cbdb138 = L.circleMarker(
                [64.6023,-17.7313],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_49084579a7834ba0b6c7cf44a41e88a0 = L.popup({maxWidth: '300'});

            
                var i_frame_9b6ce5cac37240a2a9dabfcfce6e19d1 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxMjFrbSBTIG9mIEFrdXJleXJpLCBJY2VsYW5kPGJyPjQuNw==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_49084579a7834ba0b6c7cf44a41e88a0.setContent(i_frame_9b6ce5cac37240a2a9dabfcfce6e19d1);
            

            circle_marker_1593c1a0d7e043f8937a1c0c3cbdb138.bindPopup(popup_49084579a7834ba0b6c7cf44a41e88a0);

            
        
    
            var circle_marker_567871258566406e952acb5a69ca6504 = L.circleMarker(
                [18.6513,-67.2158],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_5357c8e32731496195b75cc89d95feff = L.popup({maxWidth: '300'});

            
                var i_frame_a7ae60d9ddf24f0fb5f9c1e546a74f3a = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAyMWttIE5XIG9mIFNhbiBBbnRvbmlvLCBQdWVydG8gUmljbzxicj4yLjgx" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_5357c8e32731496195b75cc89d95feff.setContent(i_frame_a7ae60d9ddf24f0fb5f9c1e546a74f3a);
            

            circle_marker_567871258566406e952acb5a69ca6504.bindPopup(popup_5357c8e32731496195b75cc89d95feff);

            
        
    
            var circle_marker_a4ede4a8bbb04ea4801a1942e2fac1e9 = L.circleMarker(
                [13.4869,-89.882],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_da9d1fc0232744a1b5f618d182ebd5dd = L.popup({maxWidth: '300'});

            
                var i_frame_ad7eb03e887240439dff5272f22ca895 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxM2ttIFNTVyBvZiBBY2FqdXRsYSwgRWwgU2FsdmFkb3I8YnI+NC4z" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_da9d1fc0232744a1b5f618d182ebd5dd.setContent(i_frame_ad7eb03e887240439dff5272f22ca895);
            

            circle_marker_a4ede4a8bbb04ea4801a1942e2fac1e9.bindPopup(popup_da9d1fc0232744a1b5f618d182ebd5dd);

            
        
    
            var circle_marker_8f0c6892eb604f86bb47fbddc224508f = L.circleMarker(
                [24.7684,123.5455],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_b238d04c437c4212b483e48f515b1f8b = L.popup({maxWidth: '300'});

            
                var i_frame_ee94fb3e4d3f409bb88377b03074aa8d = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICA2NGttIEVORSBvZiBZb25ha3VuaSwgSmFwYW48YnI+NC40" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_b238d04c437c4212b483e48f515b1f8b.setContent(i_frame_ee94fb3e4d3f409bb88377b03074aa8d);
            

            circle_marker_8f0c6892eb604f86bb47fbddc224508f.bindPopup(popup_b238d04c437c4212b483e48f515b1f8b);

            
        
    
            var circle_marker_827d56076a3c4f64a427d8b9929fee3d = L.circleMarker(
                [34.4689,45.6381],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_3c5be838a0724ab6a3539269056bbcea = L.popup({maxWidth: '300'});

            
                var i_frame_525f7e8381004259a0d877adc2572784 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAyMGttIFcgb2YgU2FycG9sLWUgWmFoYWIsIElyYW48YnI+NC4y" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_3c5be838a0724ab6a3539269056bbcea.setContent(i_frame_525f7e8381004259a0d877adc2572784);
            

            circle_marker_827d56076a3c4f64a427d8b9929fee3d.bindPopup(popup_3c5be838a0724ab6a3539269056bbcea);

            
        
    
            var circle_marker_17464c07a11c4145815fe1857c60d2f7 = L.circleMarker(
                [-6.3352,130.169],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_9f86a02adbc64978a0a26edc9119e25d = L.popup({maxWidth: '300'});

            
                var i_frame_6f046dfda05d4d2b9627c8cbbe40b206 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAyMTlrbSBOVyBvZiBTYXVtbGFraSwgSW5kb25lc2lhPGJyPjQuMg==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_9f86a02adbc64978a0a26edc9119e25d.setContent(i_frame_6f046dfda05d4d2b9627c8cbbe40b206);
            

            circle_marker_17464c07a11c4145815fe1857c60d2f7.bindPopup(popup_9f86a02adbc64978a0a26edc9119e25d);

            
        
    
            var circle_marker_dded0cef55874ad99272d7bace8e66f9 = L.circleMarker(
                [61.4143,-149.8814],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_5abb9640c0c64b7ea3b6a61245ec2662 = L.popup({maxWidth: '300'});

            
                var i_frame_90ae75d2bfe249ccae2b0702bc23d380 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxMmttIFNTRSBvZiBCaWcgTGFrZSwgQWxhc2thPGJyPjMuMw==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_5abb9640c0c64b7ea3b6a61245ec2662.setContent(i_frame_90ae75d2bfe249ccae2b0702bc23d380);
            

            circle_marker_dded0cef55874ad99272d7bace8e66f9.bindPopup(popup_5abb9640c0c64b7ea3b6a61245ec2662);

            
        
    
            var circle_marker_80e327984aac4ba087d84a21b8de3863 = L.circleMarker(
                [61.3433,-150.1248],
                {
  "bubblingMouseEvents": true,
  "color": "yellow",
  "dashArray": null,
  "dashOffset": null,
  "fill": true,
  "fillColor": "yellow",
  "fillOpacity": 0.7,
  "fillRule": "evenodd",
  "lineCap": "round",
  "lineJoin": "round",
  "opacity": 1.0,
  "radius": 4,
  "stroke": true,
  "weight": 3
}
                ).addTo(feature_group_652ea342920049b09f421e8cd67f090e);
            
    
            var popup_d5c1e77e28fb4406adc38a287b87ba40 = L.popup({maxWidth: '300'});

            
                var i_frame_06f6ca3f6cc34e3b8a518e85290cfff9 = $('<iframe src="data:text/html;charset=utf-8;base64,CiAgICAxOGttIE5XIG9mIEFuY2hvcmFnZSwgQWxhc2thPGJyPjMuMQ==" width="180" style="border:none !important;" height="80"></iframe>')[0];
                popup_d5c1e77e28fb4406adc38a287b87ba40.setContent(i_frame_06f6ca3f6cc34e3b8a518e85290cfff9);
            

            circle_marker_80e327984aac4ba087d84a21b8de3863.bindPopup(popup_d5c1e77e28fb4406adc38a287b87ba40);

            
        
    
            var layer_control_399db44725aa455aa8205630a5029bd1 = {
                base_layers : { "cartodbdark_matter" : tile_layer_a2389182b89b48eeb1ee9bb0fbd00837, },
                overlays : { "Birds" : feature_group_f330450eb62140c6b4ab4ff26fd6590d,"Crime" : feature_group_93e6bd555b1a42b6be035373c7654cd6,"Quake" : feature_group_652ea342920049b09f421e8cd67f090e, }
                };
            L.control.layers(
                layer_control_399db44725aa455aa8205630a5029bd1.base_layers,
                layer_control_399db44725aa455aa8205630a5029bd1.overlays,
                {position: 'topright',
                 collapsed: true,
                 autoZIndex: true
                }).addTo(map_0974774560ff4f5d9209fd4a08666ddc);
        
</script>